<!DOCTYPE html>
<html>
	<head>
		<title>
			Visual Regression Report
		</title>
		<meta http-equiv="content-type" content="text/html;charset=utf-8" />
		<meta http-equiv="content-language" content="en-gb" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="shortcut icon" type="image/ico" href="/favicon.ico" />
		<link name="apple-mobile-web-app-capable" content="yes" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="report.css" />
		<link rel="stylesheet" type="text/css" href="twentytwenty.css" />
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
		<script type="text/javascript" src="jquery.event.move.js"></script>
		<script type="text/javascript" src="jquery.twentytwenty.js"></script>
		<script>
			var hoverMode = localStorage.getItem("hover") == "true";

			$(window).load(function() {
				$("#hoverToggle").change(function(event) {
					hoverMode = $("#hoverToggle").prop("checked");
					localStorage.setItem("hover", hoverMode);
					showHideScreenshots();
				});

				$(".slider-container").twentytwenty();
				$(".hover-container .before").hover(function() {
					var $this = $(this);
					var $parent = $this.parent();

					$parent.find(".before").hide();
					$parent.find(".after").show();
				}, function() {});
				$(".hover-container .after").hover(function() {}, function() {
					var $this = $(this);
					var $parent = $this.parent();

					$parent.find(".before").show();
					$parent.find(".after").hide();
				});

				$("#hoverToggle").prop("checked", hoverMode);
				showHideScreenshots();
			});

			function showHideScreenshots() {
				if (hoverMode) {
					$(".slider-container").hide();
					$(".hover-container").show();
					$(".hover-container .before").show();
					$(".hover-container .after").hide();
				}
				else {
					$(".slider-container").show();
					$(".hover-container").hide();
				}
			}
		</script>
	</head>
	<body>
		<h1>
			Visual regression report
			<label><input type="checkbox" id="hoverToggle" name="hover" /> Enable hover comparison</label>
		</h1>

		<h2>
			<label>Before:</label><a href="https://bitbucket.org/londonoffice/project-barbie/branch/{{ branches.before }}" target="_blank">{{ branches.before }}</a> (<a href="https://bitbucket.org/londonoffice/project-barbie/commits/{{ commits.before }}" target="_blank">{{ commits.before }}</a>)<br/>
			<label>After:</label><a href="https://bitbucket.org/londonoffice/project-barbie/branch/{{ branches.after }}" target="_blank">{{ branches.after }}</a> (<a href="https://bitbucket.org/londonoffice/project-barbie/commits/{{ commits.after }}" target="_blank">{{ commits.after }}</a>)
		</h2>

		<div class="contents">
			<h3>Contents:</h3>
			<ul>
				{% for page in pages %}
				<li>
					<a href="#{{ page.title }}">{{ page.title }}</a>
				</li>
				{% endfor %}
			</ul>
		</div>

		{% for page in pages %}
		<h3>
			<a href="#{{ page.title }}" name="{{ page.title }}">{{ page.title }}</a>
		</h3>
		<div class="container">
			<div class="slider-container">
				<img src="{{ page.before }}">
				<img src="{{ page.after }}">
			</div>
			<div class="hover-container">
				<img src="{{ page.before }}" class="before" title="Before">
				<img src="{{ page.after }}" class="after" title="After">
			</div>
			<div class="diff-container">
				<img src="{{ page.diff }}">
			</div>
		</div>
		{% endfor %}
	</body>
</html>
